{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo TODO

{% endblock %}


{% block content %}

<h1>Welcome to the epic and Awesome todo list</h1>



{% if session.user_id %}

<article>

        <ul>
        
        <h1>Tasks...</h1>

            {% for task in tasks %}

                <li>

                    <p>{{ task.priority }}</p>

                    <p>{{ task.name }}</p>

                    <p>{{ task.timestamp }}</p>

                    <p>[]</p>
                    
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    <article>

            <h3>Add a New Task to do</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of new task"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="0"
                    max="5"
                    placeholder="Priority(1-5)"
                    required
                >

                <button>Add the Task</button>

            </form>

        </article>

{% else %}

Please <a href="/login">login</a> or <a href="/register">create an account</a> to continue

{% endif%}

{% endblock %}

