{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo TODO

{% endblock %}


{% block content %}

<h1>Welcome to the epic and Awesome todo list</h1>



{% if session.user_id %}

<article>

        <ul>
        
        <h1>To Do...</h1>

            {% for task in tasks %}

                <li>

                    <p class="tasks">
                    <span class="priority">{{task.priority}}</span>
                    <span class="taskname">{{task.name}}</span>
                    <span class="time">{{task.timestamp}}</span>

                    {% if task.completed %}

                        <a href="/uncomplete/{{ task.id }}"onclick="return confirm('Are You Sure?');">[✓]</a>

                    {% else %}

                        <a href="/complete/{{ task.id }}"onclick="return confirm('Are You Sure?');">[ ]</a>

                    {% endif %}
                    </p>
                    
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    <article>

            <h3>Add a New Task to do</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of new task"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="0"
                    max="5"
                    placeholder="Priority(1-5)"
                    required
                >

                <button>Add the Task</button>

            </form>

        </article>

{% else %}

Please <a href="/login">login</a> or <a href="/register">create an account</a> to continue

{% endif%}

{% endblock %}

